{% extends 'base.html.twig' %}

{% block title %}Mi Proyecto{% endblock %}

{% block body %}
    {# <h1>Mi proyecto</h1> #}
    {% if proyecto|length == 0 %}
        <div class="proyect-container">
            <div class="proyect-card">
                <div class="proyect-left-column bg-left-column"></div>
                <div class="proyect-right-column">
                    <h2>Aun no tienes un proyecto</h2>
                    <div class="proyect-btns">
                        {# <a class="" href="{{ path('crear_proyecto') }}">Nuevo proyecto!</a> #}
                        <input type="button" value="Nuevo proyecto!" onclick="location.href='{{ path('crear_proyecto') }}'" class="proyect-btn"> 
                    </div>
                </div>
            </div>
        </div>        
        
    {% else %}
        {% for pro in proyecto %}
            <div class="proyect-container">
                <div class="proyect-card">
                    <div class="proyect-left-column bg-left-column"></div>
                    <div class="proyect-right-column">
                        <h2>{{ pro.titulo }}</h2>
                        <p>{{ pro.descripcion }}</p>
                        <div class="proyect-btns">
                            {# <button class="proyect-btn">Editar proyecto</button> #}
                            <input type="button" value="Editar proyecto" onclick="location.href='{{ path('editar_proyecto', {'id':pro.id}) }}'" class="proyect-btn">
                            {% if pro.usuario.id == app.user.id %}
                            {# <button class="proyect-btn">Borrar</button>   #} 
                            <input type="button" value="Borrar" onclick="location.href='{{ path('borrar_proyecto', {'id':pro.id}) }}'" class="proyect-btn"> 
                            {% endif %}
                        </div>            
                    </div>
                </div>    
            </div>          
        {% endfor %}
    {% endif %}
{% endblock %}
