{% extends 'base.html.twig' %}

{% block title %}WBA ESIME CU{% endblock %}

{% block body %}

  {#   {% if not is_granted('ROLE_USER') %}
        <a href="#">Delete</a>
    {% endif %}
     #}
<div class="pb-3"></div>
<div class="container-fluid px-4">  

    <div class="row">
        <div class="col-1 pb-2">
            <img src="{{ asset('assets/images/esime.png') }}" class="home-header-img" alt="">
        </div>
        <div class="col-11 pl-0">
            <h1 class="home-header-text">Sitio web para la busquedea de asesor <br>
            en la carrera de Ingenieria en computación</h1>
        </div>                      
    </div>                            


    <div class="">
        <div class="filter-container">
            <form method="POST">
                <div class="row">
                    
                    <div class="col-3">
                        <select class="form-select" name="academia">
                            <option selected></option>
                            <option value="Informática">Informática</option>
                            <option value="Micro procesadores">Micro procesadores</option>
                            <option value="Ingenieria y Sociedad">Ingenieria y Sociedad</option>
                            <option value="Matemáticas y Física">Matemáticas y Física</option>
                            <option value="Computación">Computación</option>
                            <option value="Química">Química</option>
                            <option value="Comunicacionees y Electronica">Comunicacionees y Electronica</option>
                        </select> 
                    </div>  
{#                     <div class="col-3">
                        <select class="form-select" aria-label="Default select example">
                            <option selected>Open this select menu</option>
                            <option value="1">One</option>
                            <option value="2">Two</option>
                            <option value="3">Three</option>
                        </select> 
                    </div>   #}

                    <div class="col-3">
                        <input class="form-control" type="text" placeholder="Buscar por nombre" name="buscar">                            
                    </div>
                    <div class="col-3">
                        <input class="form-control" type="text" placeholder="Buscar por Apellido Paterno" name="apellido">                            
                    </div>
                    <div class="col-3 pb-5">
                        <input type="submit" value="Buscar" class="btn btn-success">                           
                    </div>  
                </div>

            </form> 
        </div>  
    </div>    


    <div class="row">
        <div class="col-9">
            {% for usuario in usuarios %}
                {% if usuario.rol == 'ROLE_USERD' %}

                    <div class="kard-container">      
                        <a class="" href="{{ path('perfil_ver', {'id':usuario.id}) }}">                                      
                        <div class="kard">
                            <div class="kard-img">
                                <img src="{{ asset('assets/images/user.png') }}" class="" alt="">  
                            </div>
                            <div class="kard-content">
                                {# <a class="text-home-title" href="{{ path('perfil_ver', {'id':usuario.id}) }}">{{ usuario.nombre ~ ' ' ~ usuario.apePat ~ ' ' ~ usuario.apeMat}}</a> #}
                                <p class="kard-title">{{ usuario.nombre ~ ' ' ~ usuario.apePat ~ ' ' ~ usuario.apeMat}}</p>
                                <p class="kard-p">                               
                                    Estudios: {{ usuario.estudios }} <br>
                                    Academia: {{ usuario.acadmy }}<br>
                                    Proyectos: {{ usuario.proyectosHistory }}</p>
                            </div>
                        </div> 
                    </div>
                        </a>
                {% endif %}
            {% endfor %}
        </div>

        <div class="col-3">
            <div class="row">
                <div class="col">
                    {# {% for random in random_users %} #}
                    {% for random in random_users|slice(1,4) %}
                        {% if random.rol == 'ROLE_USERD' %}
                            <div class="minikard-container">
                                <a href="{{ path('perfil_ver', {'id':random.id}) }}" class="no-decoration">
                                <div class="minikard">
                                    <div class="minikard-img">
                                        <img src="{{ asset('assets/images/user.png') }}">
                                    </div>
                                    <div class="minikard-content">                                        
                                        <p> {{ random.nombre ~ ' ' ~ random.apePat ~ ' ' ~ random.apeMat }} <br></p>
                                    </div>                                    
                                </div>                                
                            </div>  
                            </a>                      
                            {# <a class="btn-link" type="" href="#">{{ random.nombre ~ ' ' ~ random.apePat ~ random.apeMat }}<br></a> #}
                        {% endif %}
                    {% endfor %}                
                </div>
            </div>        
        </div>
    </div>
</div>

{% endblock %}





