{% extends 'open.html.twig' %}

{% block title %}Login{% endblock %}

{% block body %}

<div class="container-fluid">    
{% if error %}
    {{ error.messagekey|trans(error.messageData, 'security') }}
{% endif %}

{# <div class=" font-title">asdsadasujdha</div> #}

    <div class=" mb-3 mx-auto position-absolute top-50 start-50 translate-middle border-0 shadow-lg cardLogin" {# style="max-width: 540px;" #}>
        <div class="row g-0">
            <div class="col-md-4">
                <img src="{{ asset('assets/images/login4.png') }}" class="imgLogo" alt="...">                
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h1 class="card-title text-login-title">LOGIN</h1>
                    {# <h2>Web para la</h2> #}

                    <form action="{{ path('login') }}" method="POST">
                        
                        <div class="text-login-input">                            
                            <input type="email" class="" id="username" name="_username" value="{{ last_username }}" placeholder=" " />    
                            <label for="username" class="text-login-label"><span class="text-login-span"><ion-icon class="" name="mail-outline"></ion-icon> Emaill</span></label>                                                        
                        </div>
                        
                        <div class="clearfix"></div>

                        <div class="text-login-input">
                            <input type="password" id="password" name="_password" placeholder=" " />
                            <label for="password" class="text-login-label"><span class="text-login-span"><ion-icon name="lock-closed-outline"></ion-icon> Contraseña</span></label>
                        </div>                        

                        {# <div class="clearfix"></div> #}

                        

                        <div class="row my-2">
                            <div class="col-3"></div>
                            <div class="col-3">
                                <input type="button" value="Registrarse" onclick="location.href='{{ path('registro') }}'" class="btn-clear">
                                {# <button type="button" onclick="location.href='{{ path('registro') }}'" class="btn-clear mx-5">Registrarse</button> #}            
                            </div>
                            <div class="col-2"></div>
                            <div class="col-3">
                                <input type="submit" value="Entrar" class="btn-clear ">        
                            </div>
                            
                        </div>
                        
                    </form>

                        

                    

                    {# <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                    <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p> #}
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
